@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yuji+Syuku&family=Zen+Kurenaido&display=swap');
/*font-family: "Zen Kurenaido", sans-serif; font-family: "Yuji Syuku", serif; font-family: "Noto Sans", sans-serif;*/
/* 기본 CSS 초기화 세팅 */
* {
  box-sizing: border-box; 
  margin: 0;              
  padding: 0;             
}

/* 폰트 및 리스트 스타일 초기화 */
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  color: #121212;
  background: #;
}
ul, ol, li {
  list-style: none; 
}
a {
  text-decoration: none; 
  color: inherit;
}
img {
  vertical-align: top;  
}


/**/
:root {
    --header-height: 80px;

    --main-color: #A12A2A;
}

/*font-size*/
:root { 
    --font-size-14: clamp(12px, 0.9vw, 14px);
    --font-size-16: clamp(14px, 1vw, 16px);
    --font-size-18: clamp(16px, 1.2vw, 18px);
    --font-size-24: clamp(20px, 1.6vw, 24px);
    --font-size-36: clamp(28px, 2.5vw, 36px);
    --font-size-48: clamp(36px, 3.5vw, 48px);
    --font-size-60: clamp(44px, 4.5vw, 60px);
    --font-size-72: clamp(52px, 5.5vw, 72px);
}




@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yuji+Syuku&family=Zen+Kurenaido&display=swap');
/*font-family: "Zen Kurenaido", sans-serif; font-family: "Yuji Syuku", serif; font-family: "Noto Sans", sans-serif;*/
/* 기본 CSS 초기화 세팅 */
* {
  box-sizing: border-box; 
  margin: 0;              
  padding: 0;             
}

/* 폰트 및 리스트 스타일 초기화 */
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  color: #121212;
  background: #;
}
ul, ol, li {
  list-style: none; 
}
a {
  text-decoration: none; 
  color: inherit;
}
img {
  vertical-align: top;  
}


/**/
:root {
    --header-height: 80px;

    --main-color: #A12A2A;
}

/*font-size*/
:root { 
    --font-size-14: clamp(12px, 0.9vw, 14px);
    --font-size-16: clamp(14px, 1vw, 16px);
    --font-size-18: clamp(16px, 1.2vw, 18px);
    --font-size-24: clamp(20px, 1.6vw, 24px);
    --font-size-36: clamp(28px, 2.5vw, 36px);
    --font-size-48: clamp(36px, 3.5vw, 48px);
    --font-size-60: clamp(44px, 4.5vw, 60px);
    --font-size-72: clamp(52px, 5.5vw, 72px);
}




/*공통css*/
.inner {max-width: 1400px; margin: 0 auto;}
@media (max-width: 1400px) {
  .inner {padding: 0 20px;} 
}
.header{ position: fixed; top: 0;  width: 100%; background: #fff;border-bottom: 1px solid #ddd;z-index: 2;}
.header .inner { height: var(--header-height);display: flex;justify-content: space-between;align-items: center;  margin: 0 auto;}
.header .inner .logo_w{display: none;}


.header .gnb {background: #fff;}
.header .main_menu {display: flex;justify-content: center;}
.header .main_menu > li {position: relative;width: 200px; text-align: center;}
.header .main_menu > li > a { display: flex;justify-content: center;align-items: center; font-size: var(--font-size-18); font-weight: bold;height: var(--header-height);transition: 0.3s;}
.header .main_menu > li > ul {border: 1px solid #ddd;}
.main_menu > li:hover > a,
.main_menu > li.active > a {
    color:  var(--main-color);
}
.header .sub_menu {position: absolute;top:  var(--header-height);left: 0;width: 100%; overflow: hidden;max-height: 0;transition: max-height 0.4s ease;}
.header .sub_menu li a {display: block; padding: clamp(10px, 8.8462px + 0.3205vw, 15px) 0; font-size: var(--font-size-16);  background: #fff;   border-bottom: 1px solid #ddd;  transition: 0.3s;}
.header .sub_menu li a:hover {background: var(--main-color); color:  #fff;}

.mmenu_btn {display: none;}
#btn { width: 50px; height: 50px; background: red; display: none; }
			
  #cover { width: 100%; height: 100%; position: absolute; 
          top: 0; left: 0; z-index: 888; background: rgba(0, 0, 0, 0.5); 
          display: none; }
  
  #accordion { width: 250px; height: 100%; background: #0C3552; 
            position: absolute; top: 0; left: -251px; z-index: 999; 
            border-right: 1px solid #000; }
  #accordion h3 a { border-bottom: 1px solid #FFF; text-indent: 10px;
                  width: 100%; height: 40px; line-height: 40px; 
                  color: #FFF; display: block; }
  
  #accordion div { width: 100%; }
  #accordion div ul li { width: 100%; height: 25px; line-height: 25px;
                    border-bottom: 1px solid #136A92; 
                    background: #2C8FBD; }
  #accordion div ul li a { display: block; text-indent: 25px; color: #FFF;
                    font-size: 14px; }
  
  
  @media screen and (max-width:720px) {
    #btn { display: block; }
  }
			
/*1350*/
@media (max-width: 1350px) {
}

/* 720 */
@media (max-width: 720px) {
  .header .menu_box {display: none;}
  .mmenu_btn{ display: block;}
}

/*footer*/
.footer {background: #333; padding: 60px 0;}
.footer .inner {display: flex; justify-content: space-between}
.footer .left_area{}
.footer .left_area .footerlogo {}
.footer .left_area ul {margin-top: 60px; }
.footer .left_area ul li {color: #fff; font-weight: 400;margin-bottom: 15px;}
.footer .left_area ul li strong {font-weight: 600;}
.footer .right_area{}
.footer .right_area .fotbtn {display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid #fff; font-size: var(--font-size-18);transition: 0.3s;}
.footer .right_area .fotbtn:hover {background: none; border: 1px solid #fff; color: #FFF;}
