/*news*/
.news {width: 100vw; height: 100vh;}
.news .section01 {width: 100%; height: 100%; background-image: url("/common/img/sub/news_bg.png"); background-repeat: no-repeat;background-position: center; background-size: cover;}



.sub_visual {position: relative; width: 100%;  height: 550px; background: url("../img/main/main_visual04.png") center / cover no-repeat;}
.sub_visual .visual_txt {/*padding-top: var(--header-height);*/ height: 100%; display: flex; align-items: center; justify-content: center;}
.sub_visual .visual_txt .inner {text-align: center;}
.sub_visual .visual_txt span {display: inline-block; color: #fff; font-size: var(--font-size-18);margin-bottom: 20px;}
.sub_visual .visual_txt h2 {font-size: var(--font-size-48); color: #fff;}
.sub_visual .sublab {position: absolute; bottom: 0; width: 100%;  background: #fff; border-bottom: 1px solid #ddd;}
.sub_visual .sublab ul {display: flex;}
.sub_visual .sublab ul li  {width: calc(100% / 4);  border-bottom: 2px solid transparent;  transition: opacity 0.3s ease; }
.sub_visual .sublab ul li a {width: 100%;display: flex; align-items: center; justify-content: center;padding: 20px 10px; font-size: var(--font-size-16);  }
.sub_visual .sublab ul li.active {border-bottom: 2px solid var(--main-color);}
.sub_visual .sublab ul li.active a {color: var(--main-color); font-weight: 600;}
.sub_visual .sublab ul li:hover {border-bottom: 2px solid var(--main-color);}
.sub_visual .sublab ul li:hover a {color: var(--main-color); font-weight: 600;}

.sub_wrap { padding:  clamp(80px, 63.6364px + 4.5455vw, 120px) 0;} 

/*1350*/
@media (max-width: 1350px) {
   .sub_visual {height: 450px;}
}

/* 720 */
@media (max-width: 720px) {
    .sub_visual {height: 350px;}
    .sub_visual .sublab ul li a {padding: 20px 3px;}
}

